#BILLBOARD___HEADER {
  width: 100%;
  height: 100%;
  background: repeating-radial-gradient(
  circle at 50%,
  #2c2c2c30,
  #2c2c2c20 0.05em,
  #fafafa 0.3em,
  #fff 9em
  );
}

.BILLBOARD__HEADER__BUTTON {
  padding: 4px 50px 12px 50px !important;
  font-weight: 900;
  color: #fff !important;
  font-size: 22px !important;
  letter-spacing: -0.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.75;
  border-radius: 31px !important;
}

.billboard-swiper-tg {
  background: #d3d3d3;
  border-radius: 30px;
}

.billboard-cat-slide {
  margin-top: 1rem;
}

.billboard-cat-slide > img {
  object-fit: contain !important;
  height: 110% !important;
}

.billboard-intro-heading {
  font-size: 15px;
  width: 93%;
  margin: 0 auto;
  letter-spacing: -.05em;
  font-weight: 800;
  text-align: center;
  padding: 2rem .5rem;
  line-height: 2;
}

.billboard__progress__number {
  width: 90vw;
  margin-bottom: 2rem;
}

.center-center-tg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-auto-tg {
  margin: 0 auto !important;
}

.billboard-top-slider-img {
  object-fit: fill !important;
  border-radius: 15px;
}

.billboard-text-area-tg {
  width: 90%;
}

.swiper-pagination-bullet-active {
  background-color: #fabb14 !important;
}

.billboard__textarea__header {
  font-size: 19px;
}

.billboard__textarea__Last__text {
  font-size: 16px !important;
  text-align: center;
  width: 102%;
  margin: auto;
  line-height: 1.5;
}

#CATEGORIES__TEXT {
  margin-top: 0rem;
}

#CATEGORIES__TEXT2 {
  margin-top: 8rem;
  margin-bottom: 2rem;
}

#BILLBOARD__PROGRESS__TEXT h2 {
  font-size: 2rem;
  text-align: center;
  width: 85%;
  font-weight: 900;
  line-height: 3rem;
}

.billboard__table__text {
  font-size: 12px;
  white-space: nowrap;
}

.swiper-pagination {
  bottom: 0%;
}

#PROGRESS__PAGINATION {
  bottom: 0%;
}

.billboard__swiper__desc {
  transform: translateY(-2.5rem);
  font-size: 1rem;
}
/* RESPONSIVE *********************************************************************************************************************************************************************** */
@media screen and (min-width:420px) {
  #BILLBOARD__PROGRESS__TEXT h2 {
    width: 74%;
  }
}

@media screen and (min-width:560px) {
  #CATEGORIES__TEXT2 {
    margin-bottom: 5rem;
  }
  
  #BILLBOARD__PROGRESS__TEXT h2 {
    width: 56%;
  }
}

@media screen and (min-width:640px) {
  .swiper-pagination {
    width: 130px;
    left: 53%;
    transform: translateX(-50%);
    white-space: nowrap;
    bottom: 0%;
  }
  
  .billboard-cat-slide > img {
    object-fit: contain !important;
    height: 94% !important;
  }
  
  .billboard-intro-heading {
    font-size: 16px;
    width: 80%;
  }
  
  #BILLBOARD__PROGRESS__TEXT h2 {
    width: 47%;
  }
}

@media screen and (min-width:768px) {
  .billboard-intro-heading {
    font-size: 18px;
    width: 71%;
  }
  
  #BILLBOARD__PROGRESS__TEXT h2 {
    width: 43%;
  }
  
  .billboard__progress__number {
    width: 78vw;
  }
  
  .billboard__swiper__desc {
    transform: translateY(-3.5rem);
    font-size: 1rem;
    width: 65%;
  }
}

@media screen and (min-width:820px) {
  .billboard__worksamples__header {
    width: 45%;
  }
  
  .billboard-intro-heading {
    font-size: 18px;
    width: 76%;
  }
  
  .billboard__worksamples__header {
    width: 41%;
  }
}

@media screen and (min-width:950px) {
  #BILLBOARD__PROGRESS__TEXT h2 {
    width: 37%;
  }
  
  .swiper-pagination {
    top: 96%;
  }
  
  .billboard__worksamples__header {
    width: 34%;
  }
}

@media screen and (min-width:1024px) {
  .billboard-intro-heading {
    width: 77%;
    font-size: 22px;
    margin-top: 53px;
    font-weight: 700;
  }
  
  #CATEGORIES__TEXT {
    margin-top: 0rem;
  }
  
  #CATEGORIES__TEXT h2 {
    text-align: center;
    line-height: 4rem;
    font-size: 2.5rem;
  }
  
  .billboard__swiper__header {
    font-size: 23px;
  }
  
  #BILLBOARD__CATEGORIES {
    padding: 3% 15%;
  }
  
  .billboard-cat-slide {
    margin-top: 0;
  }
  
  .billboard-cat-slide > img {
    object-fit: contain !important;
    height: calc(100% + 120px) !important;
  }
  
  .billboard-text-area-tg {
    width: 70%;
  }
  
  .billboard-top-slider-img {
    object-fit: fill !important;
    border-radius: 65px;
  }
  
  .billboard-swiper-tg {
    background: #d3d3d3;
    border-radius: 60px;
    scale: .7;
  }
  
  .CATEGORIES__SLIDER {
    padding-top: 52px !important;
  }
  
  .billboard__textarea__header {
    font-size: 23px;
  }
  
  .billboard__progress__number {
    width: fit-content;
    margin-bottom: 1rem;
  }
  
  .billboard__table__text {
    font-size: 19px;
    white-space: nowrap;
  }
  
  .WORK__SAMPLES__IMAGE {
    scale: 0.8;
  }
  
  .BILLBOARD__SWIPER {
    scale: 1.2;
  }
  
  #BILLBOARD__PROGRESS__TEXT {
    margin-bottom: 5rem !important;
  }
  
  #BILLBOARD__PROGRESS__TEXT h2 {
    width: 63%;
  }
  
  .billboard__textarea__Last__text {
    width: 75%;
  }
  
  #PROGRESS__PAGINATION {
    bottom: 25%;
  }
  
  .billboard__swiper__desc {
    transform: translateY(0rem);
  }
}

@media screen and (min-width:1320px) {
  .billboard-intro-heading {
    width: 55%;
    font-size: 24px;
    margin-top: 53px;
    font-weight: 700;
  }
}

@media screen and (min-width:1380px) {
  .billboard-intro-heading {
    width: 50%;
    font-size: 22px;
    margin-top: 53px;
    font-weight: 700;
  }
}