#BILLBOARD___HEADER {
  width: 100%;
  height: 100%;
  background: repeating-radial-gradient(
  circle at 50%,
  #2c2c2c30,
  #2c2c2c20 0.05em,
  #fafafa 0.3em,
  #fff 9em
  );
}

.BILLBOARD__HEADER__BUTTON {
  padding: 4px 50px 12px 50px !important;
  font-weight: 900;
  color: #fff !important;
  font-size: 22px !important;
  letter-spacing: -0.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.75;
  border-radius: 31px !important;
}

.billboard-swiper-tg {
  background: #d3d3d3;
  border-radius: 30px;
}

.billboard-cat-slide {
  margin-top: 1rem;
}

.billboard-cat-slide > img {
  object-fit: contain !important;
  height: 110% !important;
}

.billboard-intro-heading {
  font-size: 15px;
  width: 93%;
  margin: 0 auto;
  letter-spacing: -.05em;
  font-weight: 800;
  text-align: center;
  padding: 2rem .5rem;
  line-height: 2;
}

.billboard__progress__number {
  width: 90vw;
  margin-bottom: 2rem;
}

.center-center-tg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-auto-tg {
  margin: 0 auto !important;
}

.billboard-top-slider-img {
  object-fit: fill !important;
  border-radius: 15px;
}

.billboard-text-area-tg {
  width: 90%;
}

.swiper-pagination-bullet-active {
  background-color: #fabb14 !important;
}

.billboard__textarea__header {
  font-size: 19px;
}

.billboard__textarea__Last__text {
  font-size: 16px !important;
  text-align: center;
  width: 102%;
  margin: auto;
  line-height: 1.5;
}

#CATEGORIES__TEXT {
  margin-top: 0rem;
}

#CATEGORIES__TEXT2 {
  margin-top: 8rem;
  margin-bottom: 2rem;
}

#BILLBOARD__PROGRESS__TEXT h2 {
  font-size: 2rem;
  text-align: center;
  width: 85%;
  font-weight: 900;
  line-height: 3rem;
}

.billboard__table__text {
  font-size: 12px;
  white-space: nowrap;
}

.swiper-pagination {
  bottom: 0%;
}
/* RESPONSIVE *********************************************************************************************************************************************************************** */
@media screen and (min-width:1024px) {
  .billboard-intro-heading {
    width: 66%;
    font-size: 23px;
    margin-top: 28px;
    font-weight: 700;
  }
  
  #BILLBOARD__CATEGORIES {
    padding: 3% 15%;
  }
  
  .billboard-cat-slide {
    margin-top: 0;
  }
  
  .billboard-cat-slide > img {
    object-fit: contain !important;
    height: calc(100% + 120px) !important;
  }
  
  .billboard-text-area-tg {
    width: 70%;
  }
  
  .billboard-top-slider-img {
    object-fit: fill !important;
    border-radius: 65px;
  }
  
  .billboard-swiper-tg {
    background: #d3d3d3;
    border-radius: 60px;
    scale: .7;
  }
  
  #CATEGORIES__TEXT {
    margin-top: 0rem;
  }
  
  .CATEGORIES__SLIDER {
    padding-top: 52px !important;
  }
  
  .billboard__textarea__header {
    font-size: 23px;
  }
  
  .billboard__progress__number {
    width: fit-content;
    margin-bottom: 1rem;
  }
  
  .billboard__table__text {
    font-size: 19px;
    white-space: nowrap;
  }
  
  .WORK__SAMPLES__IMAGE {
    scale: 0.8;
  }
}
